<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Chapter</title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"></script>

</head>
<body th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Logo" style="height: 30px; margin-left: 15px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav" style="margin-left: 15px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/books}">All</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" th:href="@{/books/best}">Best</a></li>
                        <li><a class="dropdown-item" th:href="@{/books/new}">New</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex search-container">
                <form class="d-flex search-form" method="get" th:action="@{/search}">
                    <input class="form-control me-1" type="search" name="keyword"
                           th:value="${keyword}" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary btn-search" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
            <div class="d-flex align-items-center ms-3" style="display: inline-flex; white-space: nowrap;">
                <div sec:authorize="isAuthenticated()">
                    <a class="me-2" th:href="@{/logout}">로그아웃</a>
                    <a class="me-3" th:href="@{/user/me}">마이페이지</a>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a class="me-2" th:href="@{/login}" style="display: inline-block;">로그인</a>
                    <a class="me-3" th:href="@{/join}" style="display: inline-block;">회원가입</a>
                </div>
            </div>
            <form class="d-flex" th:action="@{/cart}">
                <button class="btn btn-outline-dark" style="display: inline-flex; align-items: center; gap: 6px;">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" th:text="${cartItemQuantity}"></span>
                </button>
            </form>
        </div>
    </div>
</nav>

</body>
