<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body th:fragment="sidebar_user">

<nav class="bg-light sidebar">
    <div class="pt-3">
        <div class="d-flex ms-3 fw-bold mt-3 pb-3 mb-4 link-dark border-bottom" style="font-size: 18px;">
            <span sec:authentication="name" th:text="${#authentication.name} + ' 님'"></span>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" style="color: black;" aria-current="page" th:href="@{/user/profile}">
                    프로필
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="color: black;" aria-current="page" th:href="@{/user/password}">
                    비밀번호 변경
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: black;" th:href="@{/orders}">
                    주문배송 조회
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: black;" th:href="@{/book/reviews}">
                    상품 리뷰
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: black;" href="#">
                    좋아요 목록
                </a>
            </li>
        </ul>

    </div>
</nav>


</body>
</html>
