<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body th:fragment="sidebar_admin">

<nav class="bg-light sidebar_my">
    <div class="pt-3">
        <div class="d-flex ms-3 fw-bold mt-3 pb-3 mb-4 link-dark border-bottom" style="font-size: 18px;">
            <span sec:authentication="name" th:text="${#authentication.name} + ' 님'"></span>
        </div>
        <ul class="list-unstyled ps-0">
            <li class="mb-2">
                <button class="btn d-inline-flex align-items-center rounded border-0 fw-bold" style="color: #0e859d">
                    상품 관리
                </button>
                <div>
                    <ul class="list-unstyled pb-1">
                        <li><a th:href="@{/admin/books}" class="ms-3 mb-1 d-inline-flex text-decoration-none"
                               style="font-size: 15px">도서 목록</a></li>
                        <li><a th:href="@{/admin/book}" class="ms-3 d-inline-flex text-decoration-none"
                               style="font-size: 15px">도서 등록</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-2">
                <button class="btn d-inline-flex align-items-center rounded border-0 fw-bold" style="color: #0e859d">
                    주문 관리
                </button>
                <div>
                    <ul class="list-unstyled pb-1">
                        <li><a th:href="@{/orders}" class="ms-3 d-inline-flex text-decoration-none"
                               style="font-size: 15px">주문 조회</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-2">
                <button class="btn d-inline-flex align-items-center rounded border-0 fw-bold" style="color: #0e859d">
                    회원 관리
                </button>
                <div>
                    <ul class="list-unstyled pb-1">
                        <li><a th:href="@{/orders}" class="ms-3 mb-1 d-inline-flex text-decoration-none"
                               style="font-size: 15px">회원 목록</a></li>
                        <li><a th:href="@{/book/reviews}" class="ms-3 d-inline-flex text-decoration-none"
                               style="font-size: 15px">리뷰
                            목록</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-2">
                <button class="btn d-inline-flex align-items-center rounded border-0 fw-bold" style="color: #0e859d">
                    개인정보
                </button>
                <div>
                    <ul class="list-unstyled pb-1">
                        <li><a th:href="@{/user/profile}" class="ms-3 mb-1 d-inline-flex text-decoration-none"
                               style="font-size: 15px">프로필
                            조회</a></li>
                        <li><a th:href="@{/user/password}" class="ms-3 d-inline-flex text-decoration-none"
                               style="font-size: 15px">비밀번호
                            변경</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function () {
        var currentPath = window.location.pathname;
        console.log("currentPath:" + currentPath);

        $(".sidebar_my a").each(function () {
            var linkPath = $(this).attr("href");
            if (linkPath === currentPath) {
                $(this).addClass("active");
            }
            console.log("linkpath:" + linkPath);
        });



        $(".sidebar_my a").click(function () {
            $("a").removeClass("active");
            $(this).addClass("active");
        });
    });
</script>
</body>

</html>
