<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="sidebar">

<nav class="bg-transparent sidebar">
    <div class="pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" style="color: black" th:href="@{/books}">
                    전체
                </a>
            </li>
            <li class="nav-item" th:each="category : ${categories}">
                <a class="nav-link" style="color: black; font-size: 15px;" th:href="@{/books(category=${category})}"
                   th:text="${category.categoryName}">
                </a>
            </li>
        </ul>

    </div>
</nav>
<script>
    $(document).ready(function () {
        var currentPath = window.location.pathname;
        var currentSearch = window.location.search;
        console.log("currentPath: " + currentPath + ", currentSearch: " + currentSearch);

        $(".sidebar a").each(function () {
            var linkPath = $(this).attr("href");

            if (linkPath === currentPath + currentSearch) {
                $(this).addClass("active");
            }
        });

        $(".sidebar a").click(function () {
            $("a").removeClass("active");
            $(this).addClass("active");
        });
    });
</script>

</body>
</html>
