<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body th:fragment="sidebar_admin">

<nav class="bg-light sidebar">
    <div class="pt-3">
        <div class="d-flex ms-3 fw-bold mt-3 pb-3 mb-4 link-dark border-bottom" style="font-size: 18px;">
            <span sec:authentication="name" th:text="${#authentication.name} + ' 님'"></span>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" style="color: black;" aria-current="page" th:href="@{/user/profile}">
                    프로필
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="color: black;" aria-current="page" th:href="@{/user/password}">
                    비밀번호 변경
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                   aria-expanded="false" style="color: black;">
                    <span>도서 관리</span>
                </a>
                <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
                    <ul class="bg-white py-2 collapse-inner pb-1">
                        <li><a class="collapse-item mb-1" th:href="@{/admin/books}">도서 목록</a></li>
                        <li><a class="collapse-item mb-1" th:href="@{/admin/book}">도서 등록</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                   aria-expanded="false" style="color: black;">
                    주문 관리
                </a>
                <div class="collapse" id="collapseOne" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
                    <ul class="bg-white py-2 collapse-inner pb-1">
                        <li><a class="collapse-item mb-1" th:href="@{/admin/orders}">주문 목록</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: black;" href="#">
                    회원 관리
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: black;" href="#">
                    리뷰 관리
                </a>
            </li>

        </ul>

    </div>
</nav>


</body>
</html>
