<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">

<body>

<div class="container">

    <h5>프로필 수정</h5>

    <form th:action="@{/profile/edit}" th:object="${form}" th:method="put">
        <div class="form-group mb-3">
            <label th:for="email">이메일</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요">
        </div>
        <div class="form-group mb-3">
            <label th:for="phone">휴대폰 번호</label>
            <input type="tel" id="phone" th:field="*{phone}" class="form-control" placeholder="휴대폰 번호를 입력하세요">
        </div>
        <div class="form-group mb-3">
            <label th:for="zipcode">우편 번호</label>
            <input type="text" id="zipcode" th:field="*{address.zipcode}" class="form-control" placeholder="우편번호를 입력하세요">
        </div>
        <div class="form-group mb-3">
            <label th:for="street">도로명 주소</label>
            <input type="text" id="street" th:field="*{address.street}" class="form-control" placeholder="도로명 주소를 입력하세요">
        </div>
        <div class="form-group mb-3">
            <label th:for="detail">상세 주소</label>
            <input type="text" id="detail" th:field="*{address.detail}" class="form-control" placeholder="상세 주소를 입력하세요">
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-success">수정하기</button>
        </div>
    </form>
</div>
</body>
</html>
