<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">

<body>

<div class="container mt-4">

    <form th:action="@{/user/password}" th:object="${form}" th:method="put" id="passwordForm">
        <div class="form-group">
            <label for="currentPw">현재 비밀번호</label>
            <input type="password" id="currentPw" th:field="*{currentPassword}" class="form-control" placeholder="현재 비밀번호를 입력하세요">
        </div>
        <div class="form-group mt-2">
            <label for="newPw">새 비밀번호</label>
            <input type="password" id="newPw" th:field="*{newPassword}" class="form-control" placeholder="새 비밀번호를 입력하세요">
        </div>
        <div class="form-group mt-2">
            <label for="confirmPw">새 비밀번호 확인</label>
            <input type="password" id="confirmPw" class="form-control" placeholder="비밀번호를 다시 입력하세요">
        </div>
        <div id="error-message" class="text-danger" style="display: none;">비밀번호가 일치하지 않습니다.</div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">변경하기</button>
        </div>
    </form>
</div>
<script>
    const form = document.getElementById('passwordForm');
    const newPw = document.getElementById('newPw');
    const confirmPw = document.getElementById('confirmPw');
    const errorMessage = document.getElementById('error-message');

    form.addEventListener('submit', (e) => {
        if (newPw.value !== confirmPw.value) {
            e.preventDefault();
            errorMessage.style.display = 'block';
        } else {
            errorMessage.display = 'none';
        }
    });
</script>

</body>
</html>
