<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{common/layout}"
      layout:fragment="content">

<body>
<div class="container-fluid">
    <div class="row">
        <div sec:authorize="hasRole('ROLE_ADMIN')" th:include="~{common/sidebar_admin::sidebar_admin}" class="col-md-4 col-lg-3"></div>
        <div sec:authorize="hasRole('ROLE_USER')" th:include="~{common/sidebar_user::sidebar_user}" class="col-md-4 col-lg-3"></div>
        <div class="col-md-8 ms-sm-auto col-lg-9">
            <div class="container mt-4 ms-3">

                <h5>회원 정보</h5>

                <div class="mb-3 mt-3">
                    <label class="fw-bold">이름 : </label>
                    <span th:text="${profile.username}"></span>
                </div>
                <div class="mb-3">
                    <label class="fw-bold">이메일 : </label>
                    <span th:text="${profile.email}"></span>
                </div>
                <div class="mb-3">
                    <label class="fw-bold">휴대폰 번호 : </label>
                    <span th:if="${profile.phone}" th:text="${profile.phone}"></span>
                    <span th:unless="${profile.phone}"></span>
                </div>
                <div class="mb-3">
                    <label class="fw-bold">우편 번호 : </label>
                    <span th:if="${profile.address != null and profile.address.zipcode != null}"
                          th:text="${profile.address.zipcode}"></span>
                    <span th:unless="${profile.address != null and profile.address.zipcode != null}"></span>
                </div>
                <div class="mb-3">
                    <label class="fw-bold">도로명 주소 : </label>
                    <span th:if="${profile.address != null and profile.address.street != null}"
                          th:text="${profile.address.street}"></span>
                    <span th:unless="${profile.address != null and profile.address.street != null}"></span>
                </div>
                <div class="mb-3">
                    <label class="fw-bold">상세 주소 : </label>
                    <span th:if="${profile.address != null and profile.address.detail != null}"
                          th:text="${profile.address.detail}"></span>
                    <span th:unless="${profile.address != null and profile.address.detail != null}"></span>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <a th:href="@{/user/profile/edit}" class="btn btn-outline-secondary">정보 수정</a>
                </div>


            </div>
        </div>
    </div>
</div>


</body>
</html>
