<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">


<div class="container-fluid">
    <div class="row">
        <div th:insert="~{common/sidebar_admin::sidebar_admin}" class="col-md-3 col-lg-2"></div>
        <div class="col-md-9 ms-sm-auto col-lg-10">
            <div class="mt-4 ms-3" style="max-width: 1100px; margin: 0 auto; padding: 0 15px;">
                <h5>도서 목록</h5>
                <div style="display: flex; justify-content: flex-end; margin-bottom: 15px;">
                    <button class="btn btn-outline-primary btn-sm ms-3" th:href="@{/admin/book}">도서 등록하기</button>
                    <button class="btn btn-outline-danger btn-sm ms-3" onclick="updateBookStatus('OUT_OF_STOCK')">품절 처리</button>
                    <button class="btn btn-outline-danger btn-sm ms-3" onclick="updateBookStatus('SELL')">판매중 처리</button>
                </div>
                <table class="table table-striped text-center mt-4">
                    <thead>

                    <tr>
                        <th scope="col">
                            <input type="checkbox" id="selectAll" onclick="toggleAllCheckboxes(this)">
                        </th>
                        <th scope="col">카테고리</th>
                        <th scope="col" class="col-wide">제목</th>
                        <th scope="col">저자</th>
                        <th scope="col">출판사</th>
                        <th scope="col" class="col-wide">ISBN</th>
                        <th scope="col">가격</th>
                        <th scope="col">재고(개)</th>
                        <th scope="col">상태</th>
                        <th scope="col">관리</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="book : ${bookList.content}">
                        <td>
                            <input type="checkbox" name="selectedBooks" th:value="${book.id}">
                        </td>
                        <td th:text="${book.category.categoryName}"></td>
                        <td class="col-wide">
                            <a th:href="@{/book/{bookId}(bookId=${book.id})}" th:text="${book.title}"></a>
                        </td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.publisher}"></td>
                        <td th:text="${book.isbn}" class="col-wide"></td>
                        <td th:text="${#numbers.formatInteger(book.price, 3, 'COMMA')} + ' 원'"></td>
                        <td th:text="${book.stockQuantity}"></td>
                        <td th:text="${book.status.statusName}"></td>
                        <td>
                            <a th:href="@{/admin/book/{bookId}/edit(bookId=${book.id})}"
                               class="btn btn-sm btn-primary">정보 수정</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div th:if="${bookList.totalElements > 0}">
                    <ul class="pagination h-100 justify-content-center align-items-center">
                        <li class="page-item" th:classappend="${bookList.hasPrevious()} ? '' : 'disabled'">

                            <a class="page-link"
                               th:href="@{/admin/books(pageNo=${bookList.number - 1}, size=${bookList.size}, sortType=${sortType}, category=${category})}"
                               aria-label="Previous">
                                &laquo;
                            </a>
                        </li>
                        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, bookList.totalPages - 1)}"
                            th:classappend="${pageNum == bookList.number} ? 'active'">
                            <a class="page-link"
                               th:href="@{/admin/books(pageNo=${pageNum}, size=${bookList.size}, sortType=${sortType}, category=${category})}"
                               th:text="${pageNum + 1}"></a>
                        </li>

                        <li class="page-item" th:classappend="${bookList.hasNext()} ? '' : 'disabled'">
                            <a class="page-link"
                               th:href="@{/admin/books(pageNo=${bookList.number + 1}, size=${bookList.size}, sortType=${sortType},  category=${category})}"
                               aria-label="Next">
                                &raquo;
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function toggleAllCheckboxes(source) {
        const checkboxes = document.getElementsByName('selectedBooks');
        checkboxes.forEach(checkbox => checkbox.checked = source.checked);
    }

    function updateBookStatus(status) {
        const selectedBooks = [];
        const checkboxes = document.querySelectorAll('input[name="selectedBooks"]:checked');
        checkboxes.forEach(checkbox => selectedBooks.push(checkbox.value));

        if (selectedBooks.length === 0) {
            alert('선택항목이 없습니다.');
            return;
        }

        $.ajax({
            url: '/api/admin/book/status',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({
                bookIds: selectedBooks,
                status: status
            }),
            success: function () {
                alert(status === 'SELL' ? '판매중 처리 완료' : '품절 처리 완료');
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                alert('오류 발생');
            }
        });
    }

</script>

</html>