<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
<body>
<main>
    <div class="container-fluid">
        <div class="row">
            <div th:insert="~{common/sidebar_user::sidebar_user}" class="col-md-4 col-lg-3"></div>
            <div class="col-md-8 ms-sm-auto col-lg-9">
                <div class="container-list mt-4 ms-3">
                    <h6>리뷰 목록</h6>
                    <div class="row row-cols-1 g-3 mt-4">
                        <div th:each="review : ${reviews}">
                            <div class="card shadow-sm d-flex flex-column" style="height: 180px; padding: 15px">
                                <div>
                                    <h6>
                                        <a th:text="${review.bookTitle}" th:href="@{'/book/' + ${review.bookId}}"></a>
                                    </h6>
                                </div>
                                <div>
                                    <span th:text="${#strings.repeat('★', review.rating)}" style="color: gold;"></span>
                                </div>
                                <div>
                                    <a th:href="@{/book/{bookId}/review/{reviewId}(bookId=${review.bookId}, reviewId=${review.id})}">
                                        <p th:text="${review.content}"></p>
                                    </a>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-auto">
                                    <div class="d-flex justify-content-center flex-grow-1">
                                        <span th:text="${#temporals.format(review.modifiedDate, 'yyyy-MM-dd HH:mm')}"></span>
                                    </div>

                                    <div class="d-flex">
                                        <a th:href="@{/book/{bookId}/review/{reviewId}/edit(bookId=${review.bookId}, reviewId=${review.id})}"
                                           class="btn btn-sm btn-outline-secondary mt-2">
                                            수정
                                        </a>
                                        <button type="button" class="btn btn-sm btn-outline-secondary mt-2 ms-2"
                                                th:data-book-id="${review.bookId}"
                                                th:data-review-id="${review.id}"
                                                onclick="deleteReview(this)">
                                            삭제
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${reviews.totalElements > 0}">
                        <ul class="pagination h-100 justify-content-center align-items-center"
                            style="margin-top: 20px;">
                            <li class="page-item" th:classappend="${reviews.hasPrevious()} ? '' : 'disabled'">

                                <a class="page-link"
                                   th:href="@{/book/reviews(page=${reviews.number - 1}, size=${reviews.size})}"
                                   aria-label="Previous">
                                    &laquo;
                                </a>
                            </li>
                            <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, reviews.totalPages - 1)}"
                                th:classappend="${pageNum == reviews.number} ? 'active'">
                                <a class="page-link"
                                   th:href="@{/book/reviews(page=${pageNum}, size=${reviews.size})}"
                                   th:text="${pageNum + 1}"></a>
                            </li>


                            <li class="page-item" th:classappend="${reviews.hasNext()} ? '' : 'disabled'">
                                <a class="page-link"
                                   th:href="@{/book/reviews(page=${reviews.number + 1}, size=${reviews.size})}"
                                   aria-label="Next">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${reviews.totalElements == 0}" class="mt-4 text-center">
                        작성 리뷰가 없습니다.
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
<script>
    function deleteReview(button) {
        const bookId = button.getAttribute("data-book-id");
        const reviewId = button.getAttribute("data-review-id");

        if (!confirm("리뷰를 삭제하면 재작성은 불가합니다. 삭제하시겠습니까?")) {
            return;
        }
        $.ajax({
            type: 'PUT',
            url: `/api/book/${bookId}/review/${reviewId}`,
            success: function () {
                alert('리뷰 삭제 완료');
                location.href = '/book/reviews';
            },
            error: function () {
                alert('리뷰 삭제 실패');
            },
        })
    }
</script>
</html>
