<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{common/layout}"
      layout:fragment="content">


<div class="container-fluid">
    <div class="row">
        <div sec:authorize="hasRole('ROLE_ADMIN')" th:include="~{common/sidebar_admin::sidebar_admin}"
             class="col-md-4 col-lg-3"></div>
        <div sec:authorize="hasRole('ROLE_USER')" th:include="~{common/sidebar_user::sidebar_user}"
             class="col-md-4 col-lg-3"></div>
        <div class="col-md-8 ms-sm-auto col-lg-9">
            <div class="mt-4 ms-3" style="max-width: 600px; margin: 0 auto; padding: 0 15px;">
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; font-weight: bold; color: gray">
                    <div>
                        <span>주문 번호</span>
                        <span th:text="${order.merchantUid}"></span>
                    </div>
                    <div>
                        <span>주문 일시</span>
                        <span th:text="${order.orderDate}"></span>
                    </div>
                </div>
                <table class="table text-center mt-4">
                    <thead>

                    <tr>
                        <th scope="col" style="width: 30%;">도서 정보</th>
                        <th scope="col" style="width: 10%;">수량</th>
                        <th scope="col" style="width: 15%;">진행 상태</th>
                        <th scope="col" style="width: 15%;">리뷰</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="orderItems : ${order.books}">
                        <td>
                            <a th:href="@{/book/{bookId}(bookId=${orderItems.bookId})}">
                                <ul style="list-style: none; padding: 0;">
                                    <li style="margin-bottom: 10px;">
                                        <img th:src="${orderItems.image}" alt="book cover"
                                             style="width: 100px; height: 200px; margin-right: 10px;"/>
                                        <div>
                                            <strong th:text="${orderItems.title}"></strong>
                                            | <span th:text="${orderItems.author}"></span>
                                        </div>
                                        <span th:text="${#numbers.formatInteger(orderItems.price, 3, 'COMMA')} + '원'"></span>
                                    </li>
                                </ul>
                            </a>

                        </td>
                        <td th:text="${orderItems.quantity + '개'}"></td>
                        <td th:text="${order.deliveryStatus != null ? order.deliveryStatus.getStatusName() : order.orderStatus.getStatusName()}"></td>
                        <td th:switch="${orderItems.reviewStatus != null ? orderItems.reviewStatus.name() : 'NOT_ALLOWED'}">
                            <a th:case="'CAN_WRITE'" class="btn btn-sm btn-primary"
                               th:href="@{/book/{orderItemId}/review(orderItemId=${orderItems.orderItemId})}">
                                작성하기
                            </a>
                            <a th:case="'COMPLETED'" class="btn btn-sm btn-secondary">
                                작성완료
                            </a>
                            <button th:case="'NOT_ALLOWED'" class="btn btn-sm btn-secondary" disabled>
                                작성불가
                            </button>
                        </td>

                    </tr>


                    </tbody>
                </table>
                <div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 13px; margin-bottom: 25px; font-size: 18px; font-weight: bold; color: coral">
                    <span>총 결제 금액 </span>
                    <span th:text="${#numbers.formatInteger(order.totalPrice, 3, 'COMMA')} + ' 원'"
                          style="margin-left: 10px;"></span>
                </div>

                <div style="display: flex; justify-content: flex-end; margin-top: 13px; margin-bottom: 25px;">
                    <button type="button" class="btn btn-outline-danger"
                            th:if="${order.orderStatus.name() != 'CANCEL' and order.deliveryStatus == null}"
                            th:onclick="'cancelPay(' + ${order.id} + ')'">
                        취소하기
                    </button>
                </div>

                <div style="font-weight: bold">배송 정보</div>
                <div class="border-bottom mb-2"></div>
                <table class="table table-bordered mt-4" style="max-width: 700px; margin: 0 auto;">
                    <tbody>
                    <tr>
                        <th scope="row" style="width: 20%;">수령인</th>
                        <td th:text="${order.username}" style="width: 20%;"></td>
                        <th scope="row" style="width: 20%;">연락처</th>
                        <td th:text="${order.phone}" style="width: 40%;"></td>
                    </tr>
                    <tr>
                        <th scope="row">배송지</th>
                        <td colspan="3" th:text="${order.streetAddress} + ${order.detailAddress}"></td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
<script>
    function cancelPay(orderId) {
        const merchant_uid = '[[${order.merchantUid}]]';
        const amount = '[[${order.totalPrice}]]';
        $.ajax({
            url: '/api/payment/cancel',
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify({
                merchant_uid: merchant_uid,
                amount: amount
            }),
            success: function () {
                $.ajax({
                    url: `/api/order/${orderId}`,
                    method: 'DELETE',
                    success: function () {
                        alert("주문이 취소되었습니다.");
                        window.location.href = "/orders";
                    },
                    error: function (err) {
                        console.error('주문 취소 요청 실패:', err);
                        alert("주문 취소에 실패했습니다. 다시 시도해주세요.");
                    }
                });
            },
            error: function (err) {
                console.error('아임포트 결제 취소 실패:', err);
                alert("결제 취소에 실패했습니다. 다시 시도해주세요.");
            }
        });
    }
</script>


</html>