<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">

<body>
<div class="row">
    <div th:insert="~{common/sidebar_user::sidebar_user}" class="col-md-2 col-lg-1"></div>
    <div class="col-md-10 ms-sm-auto col-lg-11">
        <div style="margin-top: 3rem; margin-bottom: 4rem; font-size: 20px; text-align: center;">
            <i class="bi bi-exclamation-circle-fill text-secondary" style="font-size: 4.5rem;"></i>
            <div class="mt-1">좋아요를 누른 상품이 없습니다.</div>
        </div>
    </div>
</div>
</body>
</html>