<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">

<div class="container-fluid">
    <div class="row">
        <div th:insert="~{common/sidebar_user::sidebar_user}" class="col-md-4 col-lg-3"></div>
        <div class="col-md-8 ms-sm-auto col-lg-9">
            <div class="container mt-4 ms-3" style="max-width: 600px;">
                <h6>좋아요 목록</h6>
                <div class="row mt-4">
                    <div class="col-md-6" th:each="book : ${likeList}">
                        <a th:href="@{/book/{bookId}(bookId=${book.id})}">
                            <div class="card mb-4">
                                <img th:src="@{${book.image}}" class="card-img-top" alt="book cover" style="object-fit: contain; height: 250px;">
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text" th:text="${book.title} + ' | ' + ${book.author}"></p>
                                    </div>
                                    <p class="card-text"
                                       th:text="${#numbers.formatInteger(book.price, 0, 'COMMA')} + '원'"></p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div th:if="${likeList.totalElements > 0}">
                        <ul class="pagination h-100 justify-content-center align-items-center"
                            style="margin-top: 20px;">
                            <li class="page-item" th:classappend="${likeList.hasPrevious()} ? '' : 'disabled'">

                                <a class="page-link"
                                   th:href="@{/user/book/likes(page=${likeList.number - 1}, size=${likeList.size})}"
                                   aria-label="Previous">
                                    &laquo;
                                </a>
                            </li>
                            <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, likeList.totalPages - 1)}"
                                th:classappend="${pageNum == likeList.number} ? 'active'">
                                <a class="page-link"
                                   th:href="@{/user/book/likes(page=${pageNum}, size=${likeList.size})}"
                                   th:text="${pageNum + 1}"></a>
                            </li>


                            <li class="page-item" th:classappend="${likeList.hasNext()} ? '' : 'disabled'">
                                <a class="page-link"
                                   th:href="@{/user/book/likes(page=${likeList.number + 1}, size=${likeList.size})}"
                                   aria-label="Next">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${likeList.totalElements == 0}" class="mt-4 text-center">
                        좋아요한 상품이 없습니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
