<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">

<div class="container-fluid">
    <div class="row">
        <div th:insert="~{common/sidebar_user::sidebar_user}" class="col-md-4 col-lg-3"></div>
        <div class="col-md-8 ms-sm-auto col-lg-9">
            <div class="container mt-4 ms-3">
                <h5>좋아요 목록</h5>
                <div class="row mt-4">
                    <div class="col-md-6" th:each="book : ${likeList}">
                        <a th:href="@{/book/{bookId}(bookId=${book.id})}">
                            <div class="card mb-4">
                                <img th:src="@{${book.image}}" class="card-img-top" alt="book cover">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <p class="card-text" th:text="${book.title} + ' | ' + ${book.author}"></p>
                                    </div>
                                    <p class="card-text"
                                       th:text="${#numbers.formatInteger(book.price, 3, 'COMMA')} + '원'"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
