<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">

<body>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5" style="max-width: 800px; margin: 0 auto;">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="@{${book.image}}" alt="Book Cover"/>
            </div>
            <div class="col-md-6">
                <h3 class="fw-bolder" th:text="${book.title}"></h3>

                <div class="fs-6">
                    <span th:text="${book.author} + ' | ' + ${book.publisher}"></span>
                </div>
                <div class="fs-6 mb-1">
                    <span th:text="${book.publishedDate}"></span>
                </div>
                <div class="fs-5 mb-5">
                    <span class="fw-bold text-danger"
                          th:text="${#numbers.formatInteger(book.price, 0, 'COMMA')} + ' 원'"></span>
                </div>
                <div class="d-flex">
                    <button id="likeButton" class="btn btn-outline-danger" onclick="likeButton()">
                        <i id="heartIcon" th:class="${likeStatus} ? 'bi bi-heart-fill' : 'bi bi-heart'"></i>
                    </button>
                    <input class="form-control text-center me-3" id='inputQuantity' type="number" value="1"
                           style="max-width: 4rem"/>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button" id="addToCart"
                            th:disabled="${book.status.statusName == '품절'} ? 'disabled'">
                        <i th:classappend="${book.status.statusName == '품절' ? 'd-none' : ''}"
                           class="bi-cart-fill me-1"></i>
                        <span th:text="${book.status.statusName == '품절' ? '품절' : '장바구니 담기'}">
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="bookId" th:value="${book.id}"/>

<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5" style="max-width: 800px;">
        <h6 class="fw-bolder mb-2">설명</h6>
        <div class="border-bottom mb-2"></div>
        <div style="white-space:pre-line;" th:text="${book.description}"></div>
    </div>
</section>
<section class="py-5">
    <div class="container px-4 px-lg-5" style="max-width: 800px;">
        <h6 class="fw-bolder mb-2">상세 정보</h6>
        <div class="border-bottom mb-2"></div>
        <div th:text="'분류 : ' + ${book.category.categoryName}"></div>
        <div th:text="'ISBN : ' + ${book.isbn}"></div>
        <div th:text="'발행일자 : ' + ${book.publishedDate}"></div>
        <div class="mb-5" th:text="'쪽수 : ' + ${book.pages} + '쪽'"></div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5" style="max-width: 800px;">
        <h6 class="fw-bolder mb-2">리뷰</h6>
        <div class="border-bottom mb-2"></div>
        <div id="reviews" class="mb-4"></div>
        <div id="pagination" class="d-flex justify-content-center mt-5">
        </div>
    </div>
</section>

<script th:inline="javascript">
    document.getElementById('addToCart').addEventListener('click', function () {
        /*<!CDATA[*/
        const bookId = /*[[${book.id}]]*/ 0;
        const quantity = document.getElementById('inputQuantity').value;

        fetch('/api/cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                bookId: bookId,
                quantity: quantity
            })
        })
            .then(response => {
                if (response.status === 401) {
                    alert("로그인이 필요합니다.");
                    window.location.href = '/login';
                    return;
                }
                if (!response.ok) {
                    return response.json().then(errorData => {
                        throw new Error("오류: " + errorData.message);
                    });
                }
                return response.json();
            })
            .then(data => {
                if (data) {
                    alert("장바구니에 추가되었습니다.");
                }
            })
            .catch(error => {
                console.error('API 호출 오류:', error);
                alert(error.message);
            });
    });

    /*]]>*/

    let isLiked = /*[[${likeStatus}]]*/ false;

    function likeButton() {
        const method = isLiked ? "DELETE" : "POST";
        const heartIcon = $("#heartIcon");
        console.log(isLiked);

        $.ajax({
            type: method,
            url: `/api/book/${bookId}/like`,
            success: function () {
                if (method === "POST") {
                    heartIcon.removeClass("bi-heart").addClass("bi-heart-fill");
                    heartIcon.css('color', 'red');
                    isLiked = true;
                    alert("좋아요를 눌렀습니다.");
                } else {
                    heartIcon.removeClass('bi-heart-fill').addClass('bi-heart');
                    heartIcon.css('color', '');
                    isLiked = false;
                    alert("좋아요를 취소했습니다.");
                }
            },
            error: function (xhr) {
                if (xhr.status === 401) {
                    alert("로그인이 필요합니다.");
                    window.location.href = "/login";
                } else {
                    alert("오류 발생");
                }
            },
        })
    }

    let pageNo = 0;
    const size = 5;
    const bookId = document.getElementById('bookId').value;

    function loadReviews() {
        fetch(`/api/book/${bookId}/reviews?pageNo=${pageNo}&size=${size}`)
            .then(response => response.json())
            .then(data => {
                if (data.content) {
                    renderReviews(data.content);
                    updatePagination(data.page);
                } else {
                    console.error("리뷰 조회 실패:", data);
                }
            })
            .catch(error => console.error("리뷰 조회 실패:", error));
    }

    function formatDate(dateString) {
        const date = new Date(dateString.replace(' ', 'T'));
        return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')} ${String(date.getHours()).padStart(2, '0')}:${String(date.getMinutes()).padStart(2, '0')}`;
    }

    function renderReviews(reviews) {
        const reviewsContainer = document.getElementById("reviews");
        reviewsContainer.innerHTML = reviews.map(review => {
                const maxLength = 30;
                let content = review.content;
                if (content.length > maxLength) {
                    content = content.substring(0, maxLength) + '···';
                }
                return `
                    <div class="review mb-3">
                        <div class="d-flex align-items-center">
                            <div class="rating" style="color: gold;">
                                ${'★'.repeat(review.rating)}${'☆'.repeat(5 - review.rating)}
                            </div>
                            <div class="ms-3 flex-grow-1">
                                <a href="/book/${review.bookId}/review/${review.id}" class="review-link">
                                    ${content}
                                </a>
                            </div>
                            <div class="ms-3">
                                <span>${review.username}</span> |
                                <span>${review.createdDate}</span>
                            </div>
                        </div>
                    </div>
                `;
            }
        ).join('');
    }

    function updatePagination(data) {
        const paginationContainer = document.getElementById("pagination");
        console.log(data.totalPages);
        console.log(data.number);
        paginationContainer.innerHTML = `
            <ul class="pagination h-100 justify-content-center align-items-center" style="margin-top: 20px;">
                <!-- 이전 페이지 버튼 -->
                <li class="page-item ${data.first ? 'disabled' : ''}">
                    <a class="page-link" href="#" aria-label="Previous" onclick="changePage(${data.number - 1})">
                        &laquo;
                    </a>
                </li>

                <!-- 페이지 번호 버튼들 -->
                ${Array.from({length: data.totalPages}).map((_, pageNo) => `
                    <li class="page-item ${pageNo === data.number ? 'active' : ''}">
                        <a class="page-link" href="#" onclick="changePage(${pageNo})">${pageNo + 1}</a>
                    </li>
                `).join('')}

                <!-- 다음 페이지 버튼 -->
                <li class="page-item ${data.last ? 'disabled' : ''}">
                    <a class="page-link" href="#" aria-label="Next" onclick="changePage(${data.number + 1})">
                        &raquo;
                    </a>
                </li>
            </ul>
        `;
    }

    function changePage(newPage) {
        if (newPage < 0 || newPage >= data.totalPages) return;
        pageNo = newPage;
        loadReviews();
    }

    loadReviews();

</script>
</body>
</html>
