<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">

<body>
<div class="container-fluid mt-4">
    <div class="row">
        <div th:insert="~{common/sidebar::sidebar}" class="col-md-3 col-lg-2"></div>
        <div class="col-md-9 col-lg-10" style="max-width: 600px; margin-left: 150px;">
            <div th:each="book : ${bookList}">
                <div class="card shadow-sm d-flex flex-row" style="height: 200px; margin-bottom: 20px;">
                    <a th:href="@{'/book/' + ${book.id}}"
                       style="display: flex; justify-content: center; align-items: center;">
                        <img th:src="${book.image}" alt="book cover"
                             style="width: 150px; height: 200px; object-fit: contain;"/>
                    </a>

                    <div class="card-body d-flex" style="flex:1; padding: 15px">
                        <div style="flex:2;">
                            <h6 class="card-title">
                                <a th:text="${book.title}" th:href="@{'/book/' + ${book.id}}">Book Title
                                </a>
                            </h6>
                            <div class="d-flex">
                                <p class="card-text" th:text="${book.author} + ' | ' + ${book.publisher}"></p>
                            </div>

                            <p class="card-text" th:text="${book.publishedDate}">
                                Published Date</p>
                            <p class="card-text text-danger fw-bold"
                               th:text="${#numbers.formatInteger(book.price, 3, 'COMMA')} + ' 원'"></p>
                        </div>
                        <div class="d-flex flex-column align-items-end justify-content-center" style="flex: 1;">
                            <button class="btn btn-sm btn-outline-danger mt-2" type="button"
                                    th:id="'addToCart_' + ${book.id}" th:data-book-id="${book.id}"
                                    th:classappend="${book.status.statusName == '품절' ? 'd-none' : ''}">
                                장바구니
                            </button>
                        </div>
                        <div class="d-flex flex-column align-items-end justify-content-center" style="flex: 1;">
                            <button class="btn btn-sm btn-outline-dark mt-2" type="button" id="proceedToOrder"
                                    th:text="${book.status.statusName == '품절' ? '품절' : '구매하기'}"
                                    th:disabled="${book.status.statusName == '품절'} ? 'disabled'">
                                구매하기
                            </button>
                        </div>
                        <div>
                            <input type="hidden" th:data-price="${book.price}" th:data-book-id="${book.id}"
                                   th:data-book-title="${book.title}">
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${bookList.totalElements > 0}">
                <ul class="pagination justify-content-center align-items-center" style="margin-top: 100px;">
                    <li class="page-item" th:classappend="${bookList.hasPrevious()} ? '' : 'disabled'">

                        <a class="page-link"
                           th:href="@{/books(pageNo=${bookList.number - 1}, size=${bookList.size}, sortType=${sortType}, category=${category})}"
                           aria-label="Previous">
                            &laquo;
                        </a>
                    </li>
                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, bookList.totalPages - 1)}"
                        th:classappend="${pageNum == bookList.number} ? 'active'">
                        <a class="page-link"
                           th:href="@{/books(pageNo=${pageNum}, size=${bookList.size}, sortType=${sortType}, category=${category})}"
                           th:text="${pageNum + 1}"></a>
                    </li>

                    <li class="page-item" th:classappend="${bookList.hasNext()} ? '' : 'disabled'">
                        <a class="page-link"
                           th:href="@{/books(pageNo=${bookList.number + 1}, size=${bookList.size}, sortType=${sortType},  category=${category})}"
                           aria-label="Next">
                            &raquo;
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    document.querySelectorAll('[id^="addToCart_"]').forEach(button => {
        button.addEventListener('click', function () {
            const bookId = this.getAttribute('data-book-id');
            const quantity = 1;

            fetch('/api/cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    bookId: bookId,
                    quantity: quantity
                })
            })
                .then(response => {
                    if (response.status === 401) {
                        alert("로그인이 필요합니다.");
                        window.location.href = '/login';
                        return;
                    }
                    if (!response.ok) {
                        return response.json().then(errorData => {
                            throw new Error("오류: " + errorData.message);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    if (data) {
                        alert("장바구니에 추가되었습니다.");
                    }
                })
                .catch(error => {
                    console.error('API 호출 오류:', error);
                    alert(error.message);
                });
        });
    });

    document.querySelectorAll('[id="proceedToOrder"]').forEach(button => {
        button.addEventListener('click', function () {
            const bookId = this.closest('.card').querySelector('[data-book-id]').getAttribute('data-book-id');
            const bookTitle = this.closest('.card').querySelector('[data-book-title]').getAttribute('data-book-title');
            const bookPrice = parseInt(this.closest('.card').querySelector('[data-price]').getAttribute('data-price'), 10);

            const quantity = 1;

            const selectedBook = {
                bookId: bookId,
                bookTitle: bookTitle,
                bookPrice: bookPrice,
                quantity: quantity
            };

            localStorage.setItem('cartItems', JSON.stringify([selectedBook]));

            const merchantUid = '[[${merchantUid}]]';

            fetch('/api/payment/prepare', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    merchant_uid: merchantUid,
                    amount: selectedBook.bookPrice * selectedBook.quantity
                })
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(errorData => {
                            throw new Error(JSON.stringify(errorData));
                        })
                    }
                    response.json().then(data => {
                        console.log("응답 데이터:", data);
                    });
                    window.location.href = 'order/form';
                })
                .catch(error => {
                    alert(error.message);
                })
        });
    });


</script>
</body>
</html>
