<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
<body>
<div class="container-list mt-4">
    <h6>장바구니</h6>
    <div class="row row-cols-1 g-3 mt-3">
        <div th:if="${cartList.size() > 0}">
            <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 15px;">
                <input type="checkbox" id="selectAll" onclick="toggleAllCheckboxes(this)" checked>
                <div class="d-flex gap-2 ms-auto">
                    <button class="btn btn-sm btn-outline-secondary no-border" onclick="deleteItem(this)">선택삭제
                    </button>
                    <button class="btn btn-sm btn-outline-secondary no-border" onclick="deleteCart()">전체삭제</button>
                </div>
            </div>
        </div>
        <div th:each="item : ${cartList}">
            <div class="card shadow-sm d-flex flex-row align-items-center" style="height: 270px">
                <!-- 체크박스 -->
                <div class="form-check" style="margin: 10px;">
                    <input class="form-check-input cart-item-checkbox" type="checkbox"
                           th:data-price="${item.bookPrice * item.quantity}" th:data-book-id="${item.bookId}"
                           th:data-cart-item-id="${item.id}" checked>
                </div>

                <!-- 책 이미지 -->
                <a th:href="@{'/book/' + ${item.bookId}}">
                    <img th:src="${item.bookImage}" alt="Book Cover"
                         style="width: 150px; height: 100%; object-fit: cover;"/>
                </a>

                <!-- 내용 -->
                <div class="card-body d-flex flex-column justify-content-between">
                    <a th:href="@{'/book/' + ${item.bookId}}">
                        <h6 class="card-title mb-2" th:text="${item.bookTitle}"></h6>
                        <p class="card-text"
                           th:text="${#numbers.formatInteger(item.bookPrice, 0, 'COMMA')} + ' 원'"></p>
                    </a>
                    <div class="d-flex align-items-center justify-content-end gap-3" style="height: 40px;">
                        <input class="form-control text-center me-3" th:id="'inputQuantity_' + ${item.bookId}"
                               type="number" th:value="${item.quantity}" th:data-book-price="${item.bookPrice}"
                               th:data-cart-item-id="${item.id}"
                               style="max-width: 4rem; flex-grow: 0; flex-shrink: 0;"/>
                        <button class="btn btn-sm btn-outline-dark"
                                th:id="'addToCart_' + ${item.bookId}" th:data-book-id="${item.bookId}"
                                th:data-cart-item-id="${item.id}">
                            변경
                        </button>
                        <button class="btn btn-sm btn-outline-dark ms-2"
                                th:data-cart-item-id="${item.id}"
                                onclick="deleteItem(this)">
                            삭제
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="total-price-container border-top mt-5 mb-1" style="max-width: 800px; margin: 0 auto;">
    <div class="d-flex justify-content-center">
        <span>총 주문 예정 금액</span>
        <span id="totalPrice" style="margin-left: 10px; font-weight: bold;">0 원</span>
    </div>
</div>

<div class="button-container d-flex justify-content-center align-items-center" style="height: 100px;">
    <button class="btn btn-outline-primary" id="proceedToOrder" type="button">주문하기</button>
</div>

<script th:inline="javascript">
    function toggleAllCheckboxes(source) {
        const checkboxes = document.querySelectorAll('.cart-item-checkbox')
        checkboxes.forEach(checkbox => checkbox.checked = source.checked);

        updateSelectAllCheckbox();
        calculateTotalPrice();
    }

    function updateSelectAllCheckbox() {
        const checkboxes = document.querySelectorAll('.cart-item-checkbox');
        const selectAllCheckbox = document.getElementById('selectAll');
        const total = checkboxes.length;
        const checkedBoxes = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;

        selectAllCheckbox.checked = checkedBoxes === total;
    }

    // 총 금액 계산
    function calculateTotalPrice() {
        const checkboxes = document.querySelectorAll('.cart-item-checkbox');
        let total = 0;

        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                const bookId = checkbox.getAttribute('data-book-id');
                const quantityInput = document.getElementById(`inputQuantity_${bookId}`);
                const bookPrice = parseInt(quantityInput.getAttribute('data-book-price'), 10);
                const quantity = parseInt(quantityInput.value, 10);

                total += bookPrice * quantity;
            }
        })

        document.getElementById('totalPrice').innerText = total.toLocaleString() + " 원";
    }

    document.querySelectorAll('.cart-item-checkbox').forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            updateSelectAllCheckbox();
            calculateTotalPrice();
        });
    });

    calculateTotalPrice();

    // 수량 변경
    document.querySelectorAll('[id^="addToCart_"]').forEach(button => {
        button.addEventListener('click', function () {
            const bookId = this.getAttribute('data-book-id');
            const cartItemId = this.getAttribute('data-cart-item-id');
            const quantityInput = document.getElementById(`inputQuantity_${bookId}`);
            const quantity = parseInt(quantityInput.value, 10);

            fetch('/api/cart/items', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    cartItemId: cartItemId,
                    quantity: quantity
                })
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(errorData => {
                            throw new Error(JSON.stringify(errorData));
                        })
                    }
                    alert("장바구니 수량 변경되었습니다.");
                    calculateTotalPrice();
                })
                .catch(error => {
                    alert(error.message);
                });
        });
    });

    // 선택된 항목들 로컬스토리지 저장
    document.getElementById('proceedToOrder').addEventListener('click', function () {

        const cartList = [];
        const checkboxes = document.querySelectorAll('.cart-item-checkbox');

        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                const bookId = checkbox.getAttribute('data-book-id');
                const bookTitleElement = checkbox.closest('.card').querySelector('.card-body .card-title');
                const bookTitle = bookTitleElement.innerText;
                const bookPrice = parseInt(checkbox.getAttribute('data-price'), 10);
                const quantityInput = document.getElementById(`inputQuantity_${bookId}`);
                const quantity = parseInt(quantityInput.value, 10);

                cartList.push({bookId, bookTitle, bookPrice, quantity});
            }
        });

        console.log(cartList);
        if (cartList.length === 0) {
            alert('선택된 항목이 없습니다.');
            return;
        }

        localStorage.setItem('cartItems', JSON.stringify(cartList));

        const merchantUid = '[[${merchantUid}]]';

        fetch('/api/payment/prepare', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                merchant_uid: merchantUid,
                amount: cartList.reduce((total, item) => total + (item.bookPrice * item.quantity), 0)
            })
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(errorData => {
                        throw new Error(JSON.stringify(errorData));
                    })
                }
                response.json().then(data => {
                    console.log("응답 데이터:", data);
                });
                window.location.href = 'order/form';
            })
            .catch(error => {
                alert(error.message);
            })

    });

    function deleteItem(button) {
        let selectedCartItems = [];

        document.querySelectorAll('.cart-item-checkbox:checked').forEach(checkbox => {
            selectedCartItems.push(checkbox.getAttribute('data-cart-item-id'));
        })

        if (!button.classList.contains('btn-outline-secondary')) {
            const cartItemId = button.getAttribute('data-cart-item-id');
            selectedCartItems = [cartItemId];
        }

        if (selectedCartItems.length === 0) {
            alert("선택된 항목이 없습니다.");
            return;
        }

        if (!confirm("선택 상품을 삭제하시겠습니까?")) {
            return;
        }

        $.ajax({
            type: 'DELETE',
            url: '/api/cart/items?cartItemIds=' + selectedCartItems.join(','),
            success: function () {
                alert('선택 상품 삭제 완료');
                location.reload();
            },
            error: function () {
                alert('삭제 실패');
            },
        })
    }

    function deleteCart() {
        if (!confirm("장바구니를 비우시겠습니까?")) {
            return;
        }
        $.ajax({
            type: 'DELETE',
            url: '/api/cart',
            success: function () {
                alert('장바구니 비우기 완료');
                location.reload();
            },
            error: function () {
                alert('장바구니 전체 상품 삭제 실패');
            },
        })
    }


</script>
</body>
</html>
