<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">

<body>

<div class="container">

    <form th:action="@{/join}" th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="title">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="author">비밀번호</label>
            <input type="text" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="publisher">이메일</label>
            <input type="text" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="isbn">휴대폰 번호</label>
            <input type="text" th:field="*{phone}" class="form-control" placeholder="휴대폰 번호를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="pages">주소</label>
            <input type="text" th:field="*{address}" class="form-control" placeholder="주소를 입력하세요">
        </div>

        <button type="submit" class="btn btn-success">회원가입</button>
    </form>
</div> <!-- /container -->

</body>
</html>
