<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인</title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <style>
        .form-signUp {
            width: 100%;
            max-width: 360px;
            margin: auto;
            padding: 30px;
        }

    </style>


</head>
<body class="text-center" style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">

<div class="form-signUp">
    <form th:action="@{/login}" method="post">
        <img class="mb-4" th:src="@{/images/logo.png}" alt="chapter logo" style="width: 200px; height: auto;">

        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-2">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div th:if="${param.error}" style="color: red; font-size: 13px; font-weight: bold">
            아이디 또는 비밀번호가 맞지 않습니다.
        </div>

        <button class="w-100 btn btn-login mt-3 mb-2" type="submit" style="height: 45px; font-size: 15px;">로그인</button>
        <a th:href="${location}">
            <img th:src="@{/images/kakao_login_medium_wide.png}" alt="kakao login">
        </a>
        <a th:href="@{/join}" class="btn btn-link mt-3" style="font-size: 14px;">회원가입</a>

        <p class="mt-5 mb-3 text-muted">&copy; Chapter</p>
    </form>
</div>


</body>
</html>