<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{common/layout}"
      layout:fragment="content">


<div class="container-fluid">
    <div class="row">
        <div sec:authorize="hasRole('ROLE_ADMIN')" th:insert="~{common/sidebar_admin::sidebar_admin}"
             class="col-md-4 col-lg-3"></div>
        <div sec:authorize="hasRole('ROLE_USER')" th:insert="~{common/sidebar_user::sidebar_user}"
             class="col-md-4 col-lg-3"></div>
        <div class="col-md-9 ms-sm-auto col-lg-10">
            <div class="ms-4" style="max-width: 900px; padding: 0 15px; margin-top: 50px;">
                <h5>최근 주문</h5>

                <table class="table text-center mt-4">
                    <thead class="table-light">
                    <tr>
                        <th scope="col">주문 날짜</th>
                        <th scope="col">주문 번호</th>
                        <th scope="col">상품명</th>
                        <th scope="col">결제 금액</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orderList}">
                        <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd')}"></td>
                        <td>
                            <a th:href="@{/order/{orderId}(orderId=${order.id})}" th:text="${order.merchantUid}"></a>
                        </td>
                        <td>
                            <ul style="list-style: none; padding: 0;">
                                <li th:each="book : ${order.books}">
                                    <div th:text="${book.title}"></div>
                                </li>
                            </ul>
                        </td>
                        <td th:text="${#numbers.formatInteger(order.totalPrice, 3, 'COMMA')} + '원'"></td>

                    </tr>
                    </tbody>
                </table>

                <div th:if="${orderList.size() == 0}" class="mt-4 text-center">
                    조회된 주문이 없습니다.
                </div>
            </div>
            <div class="ms-4" style="max-width: 900px; margin-top: 50px; padding: 0 15px;">
                <h5>좋아요 목록</h5>
                <div class="row mt-4">
                    <div class="col-md-3 col-sm-6" th:each="book : ${likeList}">
                        <div class="card mb-2 d-flex align-items-center justify-content-center text-center">
                            <a th:href="@{/book/{bookId}(bookId=${book.id})}"
                               style="text-decoration: none; color: inherit;">
                                <div>
                                    <img th:src="${book.image}" alt="book cover"
                                         style="margin-top:5px; width: 150px; height: 150px; object-fit: contain;"/>
                                    <div>
                                        <strong th:text="${book.title}"></strong><br/>
                                        <span th:text="${#numbers.formatInteger(book.price, 3, 'COMMA')} + '원'"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <div th:if="${likeList.size() == 0}" class="mt-4 text-center">
                    좋아요한 상품이 없습니다.
                </div>
            </div>
        </div>
    </div>
</div>

</html>