h4 {
    margin-bottom: 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: black;
}

.card-text {
    margin: 0;
}

.btn-login {
    color: #fff;
    background-color: #055160;
    border-color: #055160
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.container-list {
    max-width: 750px;
    margin: 0 auto;
}

.btn-success {
    margin-top: 20px;
}

td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.col-wide {
    width: 20%;
}

.footer-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-search {
    padding: 1px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.search-form input,
.search-form button {
    display: inline-block;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
}

main {
    padding: 20px;
    margin-top: 20px;
}