<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">


<div class="container-fluid">
    <div class="row">
        <div th:insert="~{common/sidebar_admin::sidebar_admin}" class="col-md-4 col-lg-3"></div>
        <div class="col-md-8 ms-sm-auto col-lg-9">
            <div class="mt-4 ms-3" style="max-width: 1000px; margin: 0 auto; padding: 0 15px;">
                <h5>주문 목록</h5>
                <table class="table table-striped text-center mt-4">
                    <thead>

                    <tr>
                        <th scope="col">주문 번호</th>
                        <th scope="col">도서 정보</th>
                        <th scope="col">주문 날짜</th>
                        <th scope="col">주문 상태</th>
                        <th scope="col">배송 상태</th>
                        <th scope="col">취소</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="order : ${orders}">
                        <td>
                            <a th:href="@{/order/{orderId}(orderId=${order.id})}" th:text="${order.merchantUid}"></a>
                        </td>
                        <td>
                            <ul style="list-style: none; padding: 0;">
                                <li th:each="book : ${order.books}" style="margin-bottom: 10px;">
                                    <div>
                                        <strong th:text="${book.title}"></strong>
                                        | <span th:text="${book.author}"></span>
                                    </div>
                                    <span th:text="${#numbers.formatInteger(book.price, 3, 'COMMA')} + '원'"></span>
                                    | <span th:text="${book.quantity + '개'}"></span>
                                </li>
                            </ul>
                        </td>
                        <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd')}" class="col-wide"></td>
                        <td th:text="${order.orderStatus.getStatusName()}"></td>
                        <td>
                            <form method="post" th:action="@{/admin/delivery/{orderId}/status(orderId=${order.id})}">
                                <input type="hidden" name="_method" value="PUT"/>
                                <select name="status" class="form-select form-select-sm">
                                    <option value="" th:selected="${order.deliveryStatus == null}" disabled>선택</option>
                                    <option th:each="status : ${deliveryStatus}"
                                            th:value="${status}"
                                            th:text="${status.statusName}"
                                            th:selected="${status == order.deliveryStatus}">
                                    </option>
                                </select>
                                <button type="submit" class="btn btn-info btn-sm">변경</button>
                            </form>
                        </td>

                        <td>
                            <span th:if="${order.orderStatus.name() == 'CANCEL'}" class="text-muted">
                                취소 완료
                            </span>
                            <span th:if="${order.deliveryStatus != null}" class="text-muted">
                                취소 불가
                            </span>
                            <a class="btn btn-sm btn-outline-dark"
                               th:if="${order.orderStatus.name() != 'CANCEL' and order.deliveryStatus == null}"
                               th:data-order-id="${order.id}"
                               th:data-merchant-uid="${order.merchantUid}"
                               th:data-total-price="${order.totalPrice}" onclick="cancelPay(this)">
                                주문 취소
                            </a>
                        </td>

                    </tr>
                    </tbody>
                </table>

                <!--        페이지네이션->-->
                <ul class="pagination h-100 justify-content-center align-items-center">
                    <li class="page-item" th:classappend="${orders.hasPrevious()} ? '' : 'disabled'">
                        <a class="page-link"
                           th:href="@{/orders(pageNo=${orders.number - 1}, size=${orders.size}, startDate=${startDate}, endDate=${endDate})}"
                           aria-label="Previous">
                            &laquo;
                        </a>
                    </li>
                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, orders.totalPages - 1)}"
                        th:classappend="${pageNum == orders.number} ? 'active'">
                        <a class="page-link"
                           th:href="@{/orders(pageNo=${pageNum}, size=${orders.size}, startDate=${startDate}, endDate=${endDate})}"
                           th:text="${pageNum + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${orders.hasNext()} ? '' : 'disabled'">
                        <a class="page-link"
                           th:href="@{/orders(pageNo=${orders.number + 1}, size=${orders.size}, startDate=${startDate}, endDate=${endDate})}"
                           aria-label="Next">
                            &raquo;
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script>
    function cancelPay(element) {
        const orderId = element.getAttribute('data-order-id');
        const merchantUid = element.getAttribute('data-merchant-uid');
        const totalPrice = element.getAttribute('data-total-price');
        $.ajax({
            url: '/api/payment/cancel',
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify({
                merchant_uid: merchantUid,
                amount: totalPrice
            }),
            success: function () {
                $.ajax({
                    url: `/api/order/${orderId}`,
                    method: 'DELETE',
                    success: function () {
                        alert("주문이 취소되었습니다.");
                        window.location.href = "/orders";
                    },
                    error: function (err) {
                        console.error('주문 취소 요청 실패:', err);
                        alert("주문 취소에 실패했습니다. 다시 시도해주세요.");
                    }
                });
            },
            error: function (err) {
                console.error('아임포트 결제 취소 실패:', err);
                alert("결제 취소에 실패했습니다. 다시 시도해주세요.");
            }
        });
    }
</script>

</html>